*{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0px;
  color: red;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0c1123;
}

.card{
  position: relative;
  background: #131b33;
  width: 100%;
  height: 99%;
  overflow: hidden;
  
}

.card span:nth-child(1){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, #17f3fd);
  animation: animate_one 2s linear infinite;
}

@keyframes animate_one{
  0%
  {
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(100%);
  }
}

.card span:nth-child(2){
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #17f3fd);
  animation: animate_two 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate_two{
  0%
  {
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(100%);
  }
}

.card span:nth-child(3){
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, transparent, #17f3fd);
  animation: animate_three 2s linear infinite;
}

@keyframes animate_three{
  0%
  {
    transform: translateX(100%);
  }
  100%{
    transform: translateX(-100%);
  }
}

.card span:nth-child(4){
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to top, transparent, #17f3fd);
  animation: animate_four 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate_four{
  0%
  {
    transform: translateY(100%);
  }
  100%{
    transform: translateY(-100%);
  }
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 85px;
  font-weight: bold;
  margin: 10px;
}

input[type="number"] {
  width: 200px;
  padding: 5px;
  border-radius: 5px;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

#result,
#result2 {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

#loading,
#loading2 {
  display: none;
  text-align: center;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
